<ul>
  @for (tree of treeNodes; track tree.id) {
    <li style="display: flex; flex-direction: column; margin-left: 10px;">
      <div style="display: flex;">
          @if (tree.id < 7) {
            <button (click)="idAlert(tree.id)">
              №
            </button>
            <div [ngStyle]="tree.is_deleted ? { color: 'gray' } : {}" style="margin-left: 5px;">
              {{ tree.title + ' id= ' + tree.id }}
            </div>
          } @else {
              @if (tree.children?.length) {
                <button (click)="updateTree(tree)">
                  {{ tree.isOpen?.() ? '-' : '+' }}
                </button>
              }
          <div [ngStyle]="tree.is_deleted ? { color: 'gray' } : {}" style="margin-left: 5px;">
            {{ tree.title }}
            {{ tree.children?.length ? ' Узлов = ' + tree.children?.length : '' }}
          </div>
          }
      </div>
    @if ((tree.id < 7 && tree.children?.length)
        || (tree.id > 6 && tree.isOpen?.() && tree.children?.length)) {
        <app-tree-component [treeNodes]="tree.children!"></app-tree-component>
    }
    </li>
  }
</ul>
